*{
    box-sizing: border-box;
}

:root {
    --columns: 0;
    --rows: 0;
  }
  

.main-hedings{
    display: flex;
    justify-content: space-evenly;
    

    }
    .main-container{
    
    display: grid; 
    grid-template-rows: repeat(var(--rows), 1fr); 
    
    
    }
    .row{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
   
    }
    .cell{
    text-align: center;
    align-items: center;
    width: 100%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    
    
    }